<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeepLCloneMacApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>688735172DD1CA4F00CFC8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688735252DD1CA5100CFC8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6887352F2DD1CA5100CFC8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
